.imagewt {
    position: relative;
    text-align: center;
    color: white;
}   
.centered {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
}
.container-self {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    font-size: 400%;
    top: 20%;
    left: 10%;
    transform: translate(-20%, -50%);
}
.spacing{
    width:200;
}
.margin-top{
    margin-top: 100px;
}
.text-large {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.section-subheading {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}
.portfolio-caption-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
}
.portfolio-caption-subheading {
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.blurify {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor:pointer;
}
.blurify:hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}
.image-container:hover .blurify {
    opacity: 0.3;
    cursor: pointer;
}
  
.image-container:hover .middle {
    opacity: 1;
    cursor: pointer;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}
.mx-auto {
    margin-right: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.page-section {
    padding: 6rem 0;
}
  .page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}
.bg-light {
    background-color: #f8f9fa !important;
}
  
a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
  
@media only screen and (max-width:1250px){
    .imageResponsive{
        display:none;     
    }
}

@media only screen and (min-width:1250px){
    .imageResponsive{
        width:100%;
        display: flexbox;
        filter: brightness(50%);        
    }
}
